{% extends 'base.html' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
{% endblock %}
 
{% block body %}
 

<div class="slides">
    <a href="#" ><img id="sliders"  onclick="closeAll()" onmouseover="closeAll()" src="{{ url_for('static', filename = 'img/alausa_1088x576_crop_center.png')}}" width="94%"  alt="image"></a>
</div>

<div class="product-cat" onclick="closeAll()" onmouseover="closeAll()">
    <div class="product-cat-1">
        <a href="#"><div class="product-cat-3">
            <div class="product-img">
                <img onload="automate()" class="product-img" onclick="closeAll()" onmouseover="closeAll()" src="{{ url_for('static', filename = 'img/Chairs/Femi - website.jpg')}}" alt="image">
            </div>
            <div class="product-desc">
                <span class="product-title">Femi</span><br><br>
                <span class="product-price">On sale ₦45000</span><br><br>
            </div>

        </div></a>

        <a href="#"><div class="product-cat-3">
            <div class="product-img">
                <img class="product-img" onclick="closeAll()" onmouseover="closeAll()" src="{{ url_for('static', filename = 'img/Sofas/Alausa 1.jpg')}}"  alt="image">
            </div>
                <span class="product-title">Alausa</span><br><br>
                <span class="product-price">On sale ₦225000</span>

        </div></a>

    </div>

    <div class="product-cat-2"><a href="#">
        <div class="product-img">
            <img class="product-img" onclick="closeAll()" onmouseover="closeAll()" src="{{ url_for('static', filename = 'img/Sofas/Ada.jpg')}}"  alt="image">
        </div>
            <span class="product-title">Ada</span><br><br>
            <span class="product-price">On sale ₦109200</span>

        </a></div>

    <div class="product-cat-1">
        <a href="#"><div class="product-cat-3">
            <div class="product-img">
                <img class="product-img" onclick="closeAll()" onmouseover="closeAll()" src="{{ url_for('static', filename = 'img/Tables/Andy - white.jpg')}}"  alt="image">
            </div>
                <span class="product-title">Andy</span><br><br>
                <span class="product-price">On sale ₦40000</span><br><br>

        </div></a>
        <a href="#"><div class="product-cat-3">
            <div class="product-img">
                <img class="product-img" onclick="closeAll()" onmouseover="closeAll()" src="{{ url_for('static', filename = 'img/Chairs/Ikenga.jpg')}}"  alt="image">
            </div>
                <span class="product-title">Ikenga</span><br><br>
                <span class="product-price">On sale ₦40000</span>

        </div></a>

    </div>

</div>




<!--div id="sayduck" class="sayduck" onclick="closeAll(), activateSayduck()" onmouseover="closeAll()">
    <div   class="sayduck-3d-viewer-container" style="min-height:350px;min-width:300px;width:100%;height:100%;"
         data-product-uuid="79f2dc20-f1a7-0137-1516-7ab72a8ee39c" data-viewer-options='{"appearance":{"background":"light-gray"}}'>
    </div><script defer type="text/javascript" src="https://viewer.sayduck.com"></script>
</div-->

<div onclick="closeAll()" onmouseover="closeAll()">
    <div class="newsletter" >
        <div class="words">
            <h3>Join our newsletter for free</h3>
            <h4>We'll email you a coupon worth  off your first order over ₦500. By subscribing you agree to our Terms & Conditions and Privacy & Cookies Policy.</h4>
        </div>
        <div class="letter-box">
            <form>
                <input  class="input-email" type="text" placeholder="Enter email">
                <button class="btn1" type="submit">GO</button>
            </form>
        </div>
    </div>
</div>




{% endblock %}
